<%- include ('partials/top') %>
    <div class="row">
      <% if (error_msg && error_msg.length > 0) { %>
        <div class="col-12">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong><%= error_msg %></strong> 
          </div>
        </div>
        <script>
          $(".alert").alert();
        </script>
      <% } %>
    </div>
    <div class="row space">
      <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
        <a href="/grades" class="card bg-danger text-white d-flex p-4 align-items-center big-link">
          <i class="fa fa-diamond icon" aria-hidden="true"></i>
          <div class="d-inline-block text-center">
            <p class="card-text">Salary Grades</p>  
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
        <a href="/salaries" class="card bg-warning text-dark d-flex p-4 align-items-center big-link">
          <i class="fa fa-money icon" aria-hidden="true"></i>
          <div class="d-inline-block text-center">
            <p class="card-text">Salaries</p>  
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
        <a href="/employees" class="card bg-info text-white d-flex p-4 align-items-center big-link">
          <i class="fa fa-users icon" aria-hidden="true"></i>
          <div class="d-inline-block text-center">
            <p class="card-text">Employees</p>  
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
        <a href="/users" class="card bg-success text-white d-flex p-4 align-items-center big-link">
          <i class="fa fa-address-card icon" aria-hidden="true"></i>
          <div class="d-inline-block text-center">
            <p class="card-text">Users</p>  
          </div>
        </a>
      </div>
    </div> 
  </main>
</div>

</div>

<%- include('partials/bottom') %>